@import "../variables";

.sort {
    position: relative;
    display: flex;
    align-items: center;

    &__label {
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
        }

        b {
            margin-right: 8px;
        }

        span {
            color: $orange;
            border-bottom: 1px dashed $orange;
            cursor: pointer;
        }
    }

    &__select {
        &__control {
            width: 160px;
        }
        &__control--is-focused {
            border-color: $orange !important;
            box-shadow: 0 0 0 1px $orange !important;
        }
        &__option--is-selected {
            background: rgba(254, 95, 30, 0.05) !important;
            font-weight: bold !important;
            color: $orange !important;
        }
        &__option--is-focused {
            background: rgba(254, 95, 30, 0.05) !important;
            cursor: pointer !important;
        }
    }

    &__popup {
        position: absolute;
        right: 0;
        margin-top: 15px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 160px;

        ul {
            overflow: hidden;
            li {
                padding: 12px 20px;
                cursor: pointer;

                &.active,
                &:hover {
                    background: rgba(254, 95, 30, 0.05);
                }

                &.active {
                    font-weight: bold;
                    color: $orange;
                }
            }
        }
    }
}
